div
{
	background : #7FDBFF ;
	height : 100px;
	width : 100px;
	margin: 100px;
	display: inline-block;
	transition: transform 2s;	
}
#rotate:hover
{
	background : #85144b;
	transform: rotate(3700deg);
}
#scale:hover
{
	background : #39CCCC;
	transform: scale(4,-2);
}
#skew:hover
{
	background : #FF4136;
	transform: skew(3000deg , 30deg);
}
#translate:hover
{
	background :#3D9970;
	transform: translate(303px);
}